body{
background-image: url(bgimg.jpg);
background-size: cover;

}
h1{
	color: blue;
	text-align: center;
	border: 10px solid green;
	cursor: pointer;
}
li{
	text-align: left;
	color:rgb(255,241,75);
}
a{
	cursor: pointer;
}
.webtext{
	color: blue;

}
.active{
color: yellow;
}
#div2{
	background: rgba(0,255,0,0.2);
}
#fhg{
	background: rgba(0,0,255,0.2);

}